[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Align
Hips
Spine
Spine1
Spine2
Neck
Head
LeftShoulder
LeftArm
LeftArmRoll
LeftForeArm
LeftForeArmRoll
LeftHand
LeftHandIndex1
LeftHandIndex2
LeftHandIndex3
LeftHandMiddle1
LeftHandMiddle2
LeftHandMiddle3
LeftHandRing1
LeftHandRing2
LeftHandRing3
LeftHandPinky1
LeftHandPinky2
LeftHandPinky3
LeftHandThumb1
LeftHandThumb2
LeftHandThumb3
LeftAttach
RightShoulder
RightArm
RightArmRoll
RightForeArm
RightForeArmRoll
RightHand
RightHandIndex1
RightHandIndex2
RightHandIndex3
RightHandMiddle1
RightHandMiddle2
RightHandMiddle3
RightHandRing1
RightHandRing2
RightHandRing3
RightHandPinky1
RightHandPinky2
RightHandPinky3
RightAttach
RightHandThumb1
RightHandThumb2
RightHandThumb3
LeftUpLeg
LeftLeg
LeftFoot
LeftToeBase
RightUpLeg
RightLeg
RightFoot
RightToeBase
LeftFoot_IK
RightFoot_IK
LeftHand_IK
RightHand_IK
LeftHandIndex4
LeftHandMiddle4
LeftHandRing4
LeftHandPinky4
LeftHandThumb4
RightHandIndex4
RightHandMiddle4
RightHandRing4
RightHandPinky4
RightHandThumb4
LeftToeTip
RightToeTip
Belly
LeftTush
RightTush
BigLeaf1
BigLeaf2
BigLeaf3
smallLeaf
SmallLeaf1
LeftArmBend1
LeftArmBend2
LeftArmBend3
LeftForeArmBend1
LeftForeArmBend2
LeftForeArmBend3
RightArmBend1
RightArmBend2
RightArmBend3
RightForeArmBend1
RightForeArmBend2
RightForeArmBend3
JawLower
JawUpper
Trunk1
Trunk2
Trunk3
Trunk4
Trunk5
Trunk6
Trunk7
LeftEar
LeftEarLobe1
LeftEarLobe2
RightEar
RightEarLobe1
RightEarLobe2
Crown
LeftFootThumb1
LeftFootThumb2
Tail1
Tail2
Tail3
Tail4
Tail5
Tail6
Tail7
Tail8
Tail9
Tail10
Tail11
RightFootThumb1
RightFootThumb2
Tail12
Backpack
Totem
Hat1
Hat2
Hat3
Hat4
Hat5
Hat6
SizeButton
Visir
LeftShoulderPad
RightShoulderPad
LeftFrontWaistGuard
LeftBackWaistGuard
RightBackWaistGuard
RightFrontWaistGuard
LeftChestDeform
LeftShoulderDeform
RightChestDeform
RightShoulderDeform
LeftOuterCape1
LeftOuterCape2
LeftOuterCape3
LeftOuterCape4
LeftOuterCape5
LeftOuterCape6
LeftInnerCape1
LeftInnerCape2
LeftInnerCape3
LeftInnerCape4
LeftInnerCape5
RightOuterCape1
RightOuterCape2
RightOuterCape3
RightOuterCape4
RightOuterCape5
RightOuterCape6
RightInnerCape1
RightInnerCape2
RightInnerCape3
RightInnerCape4
RightInnerCape5
CenterCape1
CenterCape2
CenterCape3
CenterCape4
CenterCape5
FaceManager
Jaw
LowerLip
LeftMiddleDownLip
LeftOuterDownLip
Chin
LeftChin
LeftDepressor
RightMiddleDownLip
RightOuterDownLip
RightDepressor
RightChin
LeftEyeLidOutDown
LeftEyeLidInDown
LeftEyeLidInUp
LeftEyeLidOutUp
LeftEye
LeftInnerBrowFat
LeftOuterBrowFat
LeftInnerBrow
LeftMiddleBrow
LeftOuterBrow
MiddleBrow
LeftCornerLip
LeftOuterUpperLip
LeftMiddleUpperLip
UpperLip
LeftSquint
LeftNoseWrinkler
LeftSquintInner
LeftCheekUp
LeftCheekMid
LeftNasolabial
LeftBuccinator
LeftCheek
LeftOrbicularisOuter
LeftOrbicularisInner
NoseTip
LeftNose
RightInnerBrowFat
RightOuterBrowFat
RightInnerBrow
RightMiddleBrow
RightOuterBrow
RightCornerLip
RightOuterUpperLip
RightMiddleUpperLip
RightSquint
RightNoseWrinkler
RightSquintInner
RightCheekUp
RightCheekMid
RightNasolabial
RightBuccinator
RightCheek
RightOrbicularisOuter
RightOrbicularisInner
RightNose
RightEyeLidOutDown
RightEyeLidInDown
RightEyeLidInUp
RightEyeLidOutUp
RightEye
Tongue1
Tongue2
HeadOffshoot1
HeadOffshoot2
HeadOffshoot3
LegOffshoot1
LegOffshoot2
LegOffshoot3
HipsOffshoot1
HipsOffshoot2
HipsOffshoot3
LeftHandIndexFrontSpike3
LeftHandIndexFrontSpike4
LeftHandIndexFrontSpike2
LeftHandIndexFrontSpike1
LeftHandIndexBackSpike3
LeftHandIndexBackSpike4
LeftHandIndexBackSpike2
LeftHandIndexBackSpike1
LeftHandFrontSpike1
LeftHandFrontSpike2
LeftHandBackSpike1
LeftHandBackSpike2
LeftForeArmFrontSpike1
LeftForeArmFrontSpike2
LeftForeArmBackSpike1
LeftForeArmBackSpike2
RightForeArmBackSpike2
RightForeArmBackSpike1
RightForeArmFrontSpike2
RightForeArmFrontSpike1
RightHandBackSpike2
RightHandBackSpike1
RightHandFrontSpike2
RightHandFrontSpike1
RightHandIndexBackSpike1
RightHandIndexBackSpike2
RightHandIndexBackSpike4
RightHandIndexBackSpike3
RightHandIndexFrontSpike1
RightHandIndexFrontSpike2
RightHandIndexFrontSpike4
RightHandIndexFrontSpike3
LeftRim
RightRim
LeftFrontArmDeform
LeftBackArmDeform
RightFrontArmDeform
RightBackArmDeform
ChestDeform
LeftForeArmDeform
LeftArmDeform
RightForeArmDeform
RightArmDeform
RightUpperGluteus
LeftUpperGluteus
LeftLowerGluteus
RightLowerGluteus
RightRopeStump1
RightRopeStump2
LeftRopeStump1
LeftRopeStump2
LeftRopeStump3
RopeLoop
FrontRobe1
FrontRobe2
FrontRobe3
FrontRobe4
FrontRobe5
LeftFrontInnerRobe1
LeftFrontInnerRobe2
LeftFrontInnerRobe3
LeftFrontInnerRobe4
LeftFrontOuterRobe1
LeftFrontOuterRobe2
LeftFrontOuterRobe3
LeftFrontOuterRobe4
LeftBackRobe1
LeftBackRobe2
LeftBackRobe3
LeftBackRobe4
BackRobe1
BackRobe2
BackRobe3
BackRobe4
RightFrontInnerRobe1
RightFrontInnerRobe2
RightFrontInnerRobe3
RightFrontInnerRobe4
RightFrontOuterRobe1
RightFrontOuterRobe2
RightFrontOuterRobe3
RightFrontOuterRobe4
RightBackRobe1
RightBackRobe2
RightBackRobe3
RightBackRobe4
PonyTail1
PonyTail2
PonyTail3
PonyTail4
PonyTail5
Hair1
Hair2
TopRibbon1
TopRibbon2
TopRibbon3
TopRibbon4
TopRibbon5
BottomRibbon1
BottomRibbon2
BottomRibbon3
BottomRibbon4
BottomRibbon5
BottomRibbon6
LeftHairBunUpperStrand
LeftHairBunLowerStrand
RightHairBunLowerStrand
RightHairBunUpperStrand
LeftHairStrand
RightHairStrand
BackHairStrand
LeftBang
RightBang
UpperKnot
LowerKnot
LeftHair1
LeftHair2
LeftHair3
RightHair1
RightHair2
RightHair3

[RemoveTracks]
May_FacePoses.20=all
May_FacePoses.21=all
May_FacePoses.22=all
May_FacePoses.42=all
May_FacePoses.43=all
May_FacePoses.44=all
May_FacePoses.66=all
May_FacePoses.71=all
May_FacePoses.76=all
May_FacePoses.77=all
May_FacePoses.78=all
May_FacePoses.79=all
May_FacePoses.80=all
May_FacePoses.81=all
May_FacePoses.82=all
May_FacePoses.83=all
May_FacePoses.84=all
May_FacePoses.85=all
May_FacePoses.86=all
May_FacePoses.87=all
May_FacePoses.88=all
May_FacePoses.89=all
May_FacePoses.90=all
May_FacePoses.91=all
May_FacePoses.92=all
May_FacePoses.93=all
May_FacePoses.94=all
May_FacePoses.95=all
May_FacePoses.96=all
May_FacePoses.97=all
May_FacePoses.98=all
May_FacePoses.99=all
May_FacePoses.100=all
May_FacePoses.101=all
May_FacePoses.102=all
May_FacePoses.103=all
May_FacePoses.104=all
May_FacePoses.105=all
May_FacePoses.106=all
May_FacePoses.107=all
May_FacePoses.108=all
May_FacePoses.109=all
May_FacePoses.110=all
May_FacePoses.111=all
May_FacePoses.112=all
May_FacePoses.113=all
May_FacePoses.114=all
May_FacePoses.115=all
May_FacePoses.116=all
May_FacePoses.117=all
May_FacePoses.118=all
May_FacePoses.119=all
May_FacePoses.120=all
May_FacePoses.121=all
May_FacePoses.122=all
May_FacePoses.123=all
May_FacePoses.124=all
May_FacePoses.125=all
May_FacePoses.126=all
May_FacePoses.127=all
May_FacePoses.133=all
May_FacePoses.134=all
May_FacePoses.135=all
May_FacePoses.136=all
May_FacePoses.144=all
May_FacePoses.145=all
May_FacePoses.146=all
May_FacePoses.147=all
May_FacePoses.148=all
May_FacePoses.149=all
May_FacePoses.150=all
May_FacePoses.151=all
May_FacePoses.152=all
May_FacePoses.153=all
May_FacePoses.154=all
May_FacePoses.155=all
May_FacePoses.156=all
May_FacePoses.157=all
May_FacePoses.158=all
May_FacePoses.159=all
May_FacePoses.160=all
May_FacePoses.161=all
May_FacePoses.162=all
May_FacePoses.163=all
May_FacePoses.164=all
May_FacePoses.165=all
May_FacePoses.166=all
May_FacePoses.167=all
May_FacePoses.168=all
May_FacePoses.169=all
May_FacePoses.170=all
May_FacePoses.171=all
May_FacePoses.172=all
May_FacePoses.173=all
May_FacePoses.174=all
May_FacePoses.240=all
May_FacePoses.241=all
May_FacePoses.242=all
May_FacePoses.243=all
May_FacePoses.244=all
May_FacePoses.245=all
May_FacePoses.246=all
May_FacePoses.247=all
May_FacePoses.248=all
May_FacePoses.249=all
May_FacePoses.250=all
May_FacePoses.251=all
May_FacePoses.252=all
May_FacePoses.253=all
May_FacePoses.254=all
May_FacePoses.255=all
May_FacePoses.256=all
May_FacePoses.257=all
May_FacePoses.258=all
May_FacePoses.259=all
May_FacePoses.260=all
May_FacePoses.261=all
May_FacePoses.262=all
May_FacePoses.263=all
May_FacePoses.264=all
May_FacePoses.265=all
May_FacePoses.266=all
May_FacePoses.267=all
May_FacePoses.268=all
May_FacePoses.269=all
May_FacePoses.270=all
May_FacePoses.271=all
May_FacePoses.272=all
May_FacePoses.273=all
May_FacePoses.274=all
May_FacePoses.275=all
May_FacePoses.276=all
May_FacePoses.277=all
May_FacePoses.278=all
May_FacePoses.279=all
May_FacePoses.280=all
May_FacePoses.281=all
May_FacePoses.282=all
May_FacePoses.283=all
May_FacePoses.284=all
May_FacePoses.285=all
May_FacePoses.286=all
May_FacePoses.287=all
May_FacePoses.292=all
May_FacePoses.293=all
May_FacePoses.294=all
May_FacePoses.295=all
May_FacePoses.296=all
May_FacePoses.297=all
May_FacePoses.298=all
May_FacePoses.299=all
May_FacePoses.300=all
May_FacePoses.301=all
May_FacePoses.302=all
May_FacePoses.303=all
May_FacePoses.304=all
May_FacePoses.305=all
May_FacePoses.306=all
May_FacePoses.307=all
May_FacePoses.308=all
May_FacePoses.309=all
May_FacePoses.310=all
May_FacePoses.311=all
May_FacePoses.312=all
May_FacePoses.313=all
May_FacePoses.314=all
May_FacePoses.315=all
May_FacePoses.316=all
May_FacePoses.317=all
May_FacePoses.318=all
May_FacePoses.319=all
May_FacePoses.320=all
May_FacePoses.321=all
May_FacePoses.322=all
May_FacePoses.323=all
May_FacePoses.324=all
May_FacePoses.325=all
May_FacePoses.326=all
May_FacePoses.327=all
May_FacePoses.328=all
May_FacePoses.329=all
May_FacePoses.330=all
May_FacePoses.331=all
May_FacePoses.332=all
May_FacePoses.333=all
May_FacePoses.334=all
May_FacePoses.335=all
May_FacePoses.336=all
May_FacePoses.337=all
May_FacePoses.338=all
May_FacePoses.339=all
May_FacePoses.340=all
May_FacePoses.341=all
May_FacePoses.342=all
May_FacePoses.343=all
May_FacePoses.344=all
May_FacePoses.345=all
May_FacePoses.346=all
May_FacePoses.347=all
May_FacePoses.348=all
May_FacePoses.349=all
May_FacePoses.350=all
May_FacePoses.351=all
May_FacePoses.352=all
May_FacePoses.353=all
May_FacePoses.354=all
May_FacePoses.355=all
May_FacePoses.356=all
May_FacePoses.357=all
May_FacePoses.358=all
May_FacePoses.359=all
May_FacePoses.360=all
May_FacePoses.361=all
May_FacePoses.362=all
May_FacePoses.363=all
May_FacePoses.364=all
May_FacePoses.365=all
May_FacePoses.366=all
May_FacePoses.367=all
May_FacePoses.368=all
May_FacePoses.369=all
